@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  font-family: "PT Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #50c5b6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#body h1 {
  color: #1e75a9;
}

.button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #1e75a9;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: translateY(3px);
}

#header img {
  width: 95px;
}

@media (min-width: 768px) {
  #header img {
    width: 320px;
  }
}

#nav li {
  margin-right: 12px;
  margin-left: 12px;
}

.navFondo {
  background-color: #1e75a9;
  transition: all 0.5s ease;
}

.borderBottom {
  border-bottom: 3px solid red;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.navbar-toggler {
  background-color: #ffffff;
}

#home {
  background-image: url("../media/fondo1.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#carouselExampleControls {
  color: #000000;
}

#carouselExampleControls .carousel-inner img {
  width: 230px;
  height: 65%;
}

#body .producto {
  background-color: #ffffff;
  margin-bottom: 25px;
}

#body .producto img {
  width: 230px;
  height: 65%;
}

#body .nav-link {
  background-color: #1e75a9;
  color: #ffffff;
}

.sticky-top {
  top: 20px;
}

.productos h5 {
  font-size: 1.1rem;
}

#body .nosotros {
  background-image: url(../media/nosotros.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: right top;
  margin-bottom: 50px;
}

#body .nosotros p {
  font-size: 1rem;
  margin-bottom: 0;
}

#body .caja {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.75);
}

#body .caja img {
  width: 110px;
}

#body .caja p {
  font-size: 1rem;
  margin-bottom: 0;
}

#body .caja--info {
  padding: 10px;
}

#body .formulario label {
  font-size: 1.2rem;
}

#body .formulario input, #body .formulario textarea {
  padding: 5px;
}

#body .formulario input:focus, #body .formulario textarea:focus {
  outline: 0;
  border-color: none;
  border: 3px solid #1e75a9;
}

#body .formulario textarea {
  padding: 5px;
  height: 160px;
}

#footer {
  background-color: #1e75a9;
  color: #ffffff;
  padding: 20px 15px;
  margin-top: 30px;
}

#footer .tituloFooter {
  margin-top: 10px;
}

#footer p {
  margin-bottom: 0;
}

#footer img {
  width: 50px;
}

#footer img:hover {
  transform: translateY(3px);
}
