@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  font-family: "Hind Madurai", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #50c5b6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#body h1 {
  color: #1e75a9;
  margin-top: 70px;
}

.button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #1e75a9;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: translateY(3px);
}

.button:focus {
  outline: none;
}

#header img {
  width: 95px;
}

@media (min-width: 768px) {
  #header img {
    width: 320px;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1300;
}

#nav li {
  margin-right: 12px;
  margin-left: 12px;
}

#nav li a {
  font-weight: 700;
}

.navFondo {
  background-color: #1e75a9;
  transition: all 0.5s ease;
}

.borderBottom {
  border-bottom: 3px solid red;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.navbar-toggler {
  background-color: #ffffff;
}

#home {
  background-image: url("../media/fondo1mov.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #ffffff;
}

#home h1 {
  font-size: 5.4rem;
}

@media (min-width: 576px) {
  #home {
    background-image: url("../media/fondo1.jpg");
  }
}

#carouselExampleControls {
  color: #000000;
}

#carouselExampleControls .carousel-inner img {
  width: 230px;
  height: 65%;
}

#article .subTitle {
  padding: 10px;
}

#body .producto {
  background-color: #ffffff;
  margin-bottom: 25px;
}

#body .producto:hover {
  box-shadow: 0px 20px 21px -2px rgba(0, 0, 0, 0.64);
  transform: translate(0, -3px);
}

#body .producto img {
  width: 230px;
  height: 65%;
}

#body .nav-link {
  background-color: #1e75a9;
  color: #ffffff;
}

.sticky-top {
  top: 80px;
}

.productos h5 {
  font-size: 1.1rem;
}

.modal {
  top: 100px;
}

.modal-content {
  background-color: #50c5b6;
  color: #ffffff;
}

.modal-header {
  background-color: #1e75a9;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

#body .nosotros {
  margin-bottom: 50px;
}

#body .nosotros p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

#body .caja {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.75);
}

#body .caja img {
  width: 110px;
}

#body .caja p {
  font-size: 1rem;
  margin-bottom: 0;
}

#body .caja--info {
  padding: 10px;
}

#body .formulario label {
  font-size: 1.2rem;
}

#body .formulario input, #body .formulario textarea {
  padding: 5px;
}

#body .formulario input:focus, #body .formulario textarea:focus {
  outline: 0;
  border-color: none;
}

#body .formulario textarea {
  resize: none;
  padding: 5px;
  height: 160px;
}

#body .formulario .enviar {
  border: 2px solid #ffffff;
}

#body .contactoFondo {
  background-color: #1e75a9;
  border-radius: 20px;
  padding: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

#footer {
  background-color: #1e75a9;
  color: #ffffff;
  padding: 20px 15px;
  margin-top: 30px;
}

#footer .tituloFooter {
  margin-top: 10px;
}

#footer p {
  margin-bottom: 0;
}

.logoRedes a {
  color: #ffffff;
}

.logoRedes a:hover {
  transform: translateY(5px);
}

.logoRedes i {
  font-size: 45px;
}
