#body{
	.formulario{
		label{
			font-size: 1.2rem;
		}
		input, textarea{
			padding: 5px;
			&:focus{
				outline: 0;
				border-color: none;
			}
		}
		textarea{
			resize: none;
			padding: 5px;
			height: 160px;
		}
		.enviar{
			border: 2px solid $colorBlanco;
		}
	}
	.contactoFondo{
		background-color: $colorPrincipal;
		border-radius: 20px;
		padding: 20px;
		color: $colorBlanco;
		margin-bottom: 30px;
	}
}