@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

#footer{
	background-color: $colorPrincipal;
	color: $colorBlanco;
	padding: 20px 15px;
	margin-top: 30px;
	.tituloFooter{
		margin-top: 10px;
	}
	p{
		margin-bottom: 0;
	}
	
	.logoRedes{
		a{
			color: $colorBlanco;
			&:hover{
				transform: translateY(5px);
			}
		}
		i{
			font-size: 45px;
		}
	}

}