*{
	font-family: $fuente;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: $colorSecundario;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}

#body{
    h1{
        color: $colorPrincipal;
    }
}

.button{
	padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: $colorPrincipal;
    color: $colorBlanco;
    &:hover{
    	cursor:pointer;
    }
    &:active{
    	transform: translateY(3px);
    }
    &:focus{
        outline: none;
    }
}