#home{
	background-image: url("../media/fondo1.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#carouselExampleControls{
    color: $colorNegro;
    .carousel-inner{
        img{
            width: 230px;
            height: 65%;
        }
    }
}