#home{
	background-image: url("../media/fondo1mov.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: $colorBlanco;
    h1{
        font-size: 5.4rem;
    }
    @media (min-width: 576px){
        background-image: url("../media/fondo1.jpg");
    }
}

#carouselExampleControls{
    color: $colorNegro;
    .carousel-inner{
        img{
            width: 230px;
            height: 65%;
        }
    }
}

#article{
    .subTitle{
       padding: 10px; 
    } 
}