#header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1300;
}

#nav li{
	margin-right: 12px;
  margin-left: 12px
}

.navFondo{
 background-color: $colorPrincipal;
 transition: all 0.5s ease;
}

.borderBottom{
  border-bottom: 3px solid red;
}

.navbar-light .navbar-nav .nav-link {
    color: $colorBlanco;
    &:hover{
      color: red;
    }
}

.navbar-toggler{
	background-color: $colorBlanco;
}