#body{
	.nosotros{
		margin-bottom: 50px;
		p{
			font-size: 1.1rem;
			margin-bottom: 0;
		}
	}
	.caja{
		margin-bottom: 20px;
		padding: 10px;
		background-color: $colorBlanco;
		box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.75);
		img{
			width: 110px;
		}
		p{
			font-size: 1rem;
			margin-bottom: 0;
		}
	}
	.caja--info{
		padding: 10px;
	}
}