#body{
	.nav-link{
		background-color: $colorPrincipal;
		color: $colorBlanco;
	}
}

.sticky-top{
	top: 80px;
}

.modal{
	top: 100px;
}

.modal-content{
	background-color: $colorSecundario;
	color: $colorBlanco;
}

.modal-header{
	background-color: $colorPrincipal;
	border-bottom: none;
}

.modal-footer{
	border-top: none;
}