#body{
	.producto{
		background-color: $colorBlanco;
		margin-bottom: 25px;
		img{
			width: 230px;
			height: 65%;
		}
	}
	.nav-link{
		background-color: $colorPrincipal;
		color: $colorBlanco;
	}
}

.sticky-top{
	top: 20px;
}

.productos{
	h5{
		font-size: 1.1rem;
	}
}

.modal-content{
	background-color: $colorSecundario;
	color: $colorBlanco;
}

.modal-header{
	background-color: $colorPrincipal;
	border-bottom: none;
}

.modal-footer{
	border-top: none;
}